@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  display: flex;
  font-size: 1em;
  line-height: 24px;
  font-weight: 500;
  color: black;
  background: white;
  height: 100%;
  border-bottom: 1px solid #cecece;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  color: black;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  word-wrap: break-word;
  box-sizing: inherit;
}

.container__main-sidebar {
  display: grid;
  grid-template-columns: 73% 23%;
  grid-template-rows: auto;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Fonts/montserrat-v26-latin/montserrat-v26-latin-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(./Fonts/montserrat-v26-latin/montserrat-v26-latin-500.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(./Fonts/montserrat-v26-latin/montserrat-v26-latin-600.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(./Fonts/montserrat-v26-latin/montserrat-v26-latin-700.woff2) format("woff2");
  font-weight: 700;
}
:root {
  --color-icons: #c5181d;
}

/* Block3 */
.buy-now__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  overflow-wrap: break-word;
  padding-top: 15px;
}

.buy-now__price {
  color: #C5181D;
  font-size: 16px;
  font-weight: 600;
}

/* Sidebar */
.book__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 10px 0;
  margin: 0px;
  letter-spacing: 1.2px;
}

.sidebar__titles {
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  padding: 20px 30px;
  margin: 30px 0;
  letter-spacing: 1.2px;
  overflow: visible;
  position: relative;
  z-index: 1;
}

.recommendations__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.sidebar-button-link {
  display: block;
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.2px;
  padding: 15px 0;
}

/*Footer */
.footer__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0;
}

.footer-button-link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: white;
}

.copyright__link {
  text-decoration: underline;
  padding: 10px 0;
}

.copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin: 0;
}

.button {
  height: auto;
  background-color: rgb(17, 107, 75);
  text-align: center;
  padding: 12px 22px;
}

.button__title {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  background: #116b4b;
  color: #fff !important;
  border: 2px solid #116B4B;
  letter-spacing: 1px;
}

.button:hover,
.button__title:hover { /*! допрацювати, щоб кнопка змінювала колір при наведенні*/
  background-color: #c5181d;
  border: 0;
}

header {
  border-bottom: 1px solid #cecece;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 16px 55px 20px 46px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  padding: 0;
  position: relative;
  display: flex !important;
  align-content: center;
  flex-grow: 1; /*! Do I need it?*/
}

.header__right {
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header__menu {
  display: flex !important;
  flex: 0 0 50%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-size: 10px;
  padding: 0 14px 0 0;
  margin: 0;
  margin-right: -18px;
  width: 100%;
}
.header__menu .header__menu-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
}
.header__menu .header__menu-item .header__menu-item-border {
  box-sizing: inherit;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  /* padding: 13px 26px; */
  margin-bottom: 5px;
  word-wrap: break-word;
}
.header__menu .header__menu-item .header__menu-lang-EN {
  padding-left: 0;
}
.header__menu .header__menu-item .header__menu-lang-EN:before {
  content: "/";
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
}
.header__menu .header__menu-item .header__menu-item-online {
  background-color: #fff;
  padding: 0px 15px;
  border: 1px solid black;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.header__menu .header__menu-item .header__menu-item-online:hover {
  background-color: #116B4B;
  color: white;
}

@import "./components/links";
nav {
  border-bottom: 1px solid #cecece;
}
nav .nav__left {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  width: 865px;
}
nav .strip {
  display: block;
  width: 30px;
  height: 30px;
  height: 3px;
  background-color: #c5181d;
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .container_main_sidebar {
    grid-template-columns: 100%;
  }
}/*# sourceMappingURL=main_scss.css.map */