.button {
  /* width: 100%; */
  height: auto;
  background-color: rgb(17, 107, 75);
  text-align: center;
  padding: 12px 22px;
}

/* .button__link {
  size: 206px 80px;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
  text-decoration: none;
} */
.button__title {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  background: #116b4b;
  color: #fff !important;
  border: 2px solid #116B4B;
  letter-spacing: 1px;
}

.button:hover,
.button__title:hover { /*! допрацювати, щоб кнопка змінювала колір при наведенні*/
  background-color: #c5181d;
  border: 0;
}
