/*TODO Header */

.logo {
  height: 31px;
  padding: 14px 35px 6px 0;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  overflow-clip-margin: content-box;

  position: relative;

  animation-name: main-logo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 2s;
  animation-fill-mode: none;
}

.header__logo-animation:hover .logo {
  animation-play-state: paused;
}

@keyframes main-logo {
  0% {
    left: 0;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    left: 100px;
    opacity: 1;
  }
}

.header__menu-search-icon {
  width: 35px;
  height: 35px;
  background-image: url(./Images/icomoon_svg/search.svg); 
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: search__icon;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 2s;
  animation-fill-mode: none;
}

@keyframes search__icon {
  0% {
    transform: rotate(0);}
  100% {
    transform: rotate(360deg);
  }
  }

.header__menu-signin-icon {
  height: 25px;
  width: 25px;
  background-image: url(./Images/icomoon_svg/cook.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}

/*TODO Main*/

.recipe__img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.recipe__img:hover {
transform: scale(1.1);
}

.recipe__icon {
  object-fit: contain;
  width: 25px;
  height: 25px;
  color: #909090;
}

.recipe__icon-clock {
  background-image: url(./Images/icomoon_svg/wall-clock-icon.svg);
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.recipe__icon-food {
  background-image: url(./Images/icomoon_svg/pie-dish-food-icon.svg);
  width: 25px;
  height: 25px;
  border left: ;
}

.recipe__icon-star {
  background-image: url(./Images/icomoon_svg/food.svg);
  width: 25px;
  height: 25px;
} /*!іконка "зірка" прозора, використала іншу для прикладу*/

/* Block2 */

.main-section2-list-picture1 {
  background-image: url(./Images/icons/small/salad-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.main-section2-list-picture2 {
  background-image: url(./Images/icons/small/second-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.main-section2-list-picture3 {
  background-image: url(./Images/icons/small/group.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.main-section2-list-picture4 {
  background-image: url(./Images/icons/small/ukrainian-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.main-section2-list-picture5 {
  background-image: url(./Images/icons/small/lunch-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.main-section2-list-picture6 {
  background-image: url(./Images/icons/small/bakery-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

/* Block3 */

.main-section3-pic1,
.main-section3-pic2,
.main-section3-pic3,
.main-section3-pic4,
.main-section3-pic5,
.main-section3-pic6 {
  max-width: 100%; /* Зменшити розмір відповідно до ширини батьківського контейнера */
  height: auto; /* Забезпечити пропорції */
}

.main-section3-pic1 {
  height: auto;
  max-width: 100%;
}

/*TODO Sidebar */

.sidebar-book-pic {
  width: 100%;
  height: auto;
  padding: 20px 20px 0 0;
}

.sidebar-recommendations-1-img {
  width: 125px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  padding-right: 10px;
}

/*TODO Footer */

.footer-social-links-img {
  width: 30px;
  height: 30px;
}

.footer-logo-curcle {
  max-width: 120px;
  padding-bottom: 20px;
  height: auto;
}
