main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 13px 30px 0px 30px;
  width: 100%;
  margin: 0 auto;
}

/* Block 1 */

.main_section1 {
  width: 100%;
  margin: 0 auto;
}

.main-section1-title-container {
  margin: 22px 0px 35px 0px;
  display: inline-block;
}

.main-section1-title {
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 35px;
  color: #111111;
  margin-bottom: 0px;
  position: relative;
  box-sizing: border-box;
  display: block;
  text-align: left;
  padding: 16px;
}

.main-section1-title::after {
  content: '';
  border-bottom: 6px solid rgba(197, 24, 29, 0.6);
  width: 93%;
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.main-section1-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.main-section-article {
  display: flex;
  box-sizing: border-box;
  width: 50%;
  flex: 0 0 50%;
  /* border: 1px solid black; */
  padding: 0 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-section1-content {
  box-sizing: border-box;
  padding: 15px 30px;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.main-section1-content-title {
  display: block;
  padding-bottom: 10px;
  position: relative;
  font-size: 22px;
  font-weight: 600;
  /* border-bottom: 1px solid #cecece; */
  overflow-wrap:break-word;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  margin: 0 auto;
}

.main-section1-content-link {
  color: #111111;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.main-section1-content-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin: 0 15px 45px 15px;
  padding: 4px 15px 0 15px;
}

.main-section-content-time-title {
  color: rgb(144, 144, 144);
  font-size: 12px;
  font-weight: 300;
  word-wrap: break-word;
  padding-left: 10px;
}

.main-section1-content-time-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 15px;
  /* position: relative; */
}

.main-section1-content-time-icon-food:before {
  content: '';
  position: relative;
  display: block;
  height: 40px;
  border-left: 1.5px solid;
  right: 17px;
  top: -5px;
}

.main-section1-content-time-icon-star::before {
  content: '';
  position: relative;
  display: block;
  height: 40px;
  border-left: 1.5px solid;
  right: 17px;
  top: -5px;
}

.video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.video::after {
  content: url(./Images/Food/For_video.jpeg);
  position: absolute;
  display: block;
  top: 45%;
  left: 45%;
  z-index: 2;
}

/*Button-Show More */

.button-main-show-more {
  width: 190px;
  height: 45px;
  background-color: rgb(17, 107, 75);
  border: none;
}

.button-main-show-more-title {
  font-size: 10px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.button-main-show-more-link {
  text-decoration: none;
}

/* Block 1-End */

.main-section2-what-to-cook {
  width: 100%;
  margin: 0 auto;
}

.main-section2-what-to-cook-title {
  text-align: center;
  width: 100%;
  margin: 40px auto;
}

.main-section2-title {
  border-bottom: 3px solid black;
  width: 100%;
  margin: 0 auto;
}

.main-section2-what-to-cook-title::after {
  display: none;
}

/* Block 2 */

.main-section2-container { 
  /* box-sizing: border-box; */
  display: flex;
  /* flex-wrap: wrap; */
  /* align-content: center; */
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.main-section2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  margin: 0px 30px 0 0;
  flex: 1;
  padding: 0 0 0 40px;
  align-content: flex-start;
}

.main-section2-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.main-section2-list-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.main-section2-list-link {
  text-decoration: none;
  color: #333;
  display: block;
  text-align: left;
  padding-bottom: 15px;
}

.main-section2-list-link::after {
  
}

.underline {
  box-sizing: border-box;
  border-bottom: 1px solid #cecece;
  padding: 0 80px 0 0;
  margin-left: 20px;
  width: 100%;
}

/* Block2-End */

.main-section1-title-buy-now {
  margin-bottom: 30px;
  display: inline;
}

/* Block3 */

.main-section3-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  /* grid-gap: 10px; */
  width: 100%;
  margin: 0 auto;
}

.main-section3-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin-top: 71px;

  /* Grid */
  padding: 0 20px 0 0;
  text-align: center;
}

/* TODO Media */

@media screen and (max-width: 600px) {
  .main-section2-what-to-cook {
    display: none;
  }
}
@media screen and (max-width: 719px) {
  .main-section1-block {
    flex-direction: column;
  }
  .main-section-article {
    width: 100%;
  }
  .main-section3-container {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .main-section2-column3 {
    display: none;
  }
}


/*!Check*/

/* .icon {
  box-sizing: content-box;
  position: relative;
  height: 30px;
  width: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
}

.icon::before {
  content: '';
  position: absolute;
  display: block;
  height: 40px;
  border-left: 1.5px solid;
  right: 35px;
  top: 7px
}

.svg-icon {
  background-image: url('./envelope.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
}
