nav {
  border-bottom: 1px solid #cecece;
}

.nav__left {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  width: 865px;
}

.link--indentation { 
  padding-left: 0px;
} /*!why doesn't work?*/

.strip {
  display: block;
  width: 30px;
  height: 30px;
  height: 3px;
  background-color: #c5181d;
  margin-bottom: 5px;
}
  
@media screen and (max-width: 720px) {
  nav {
    display: none;
  }
}