nav {
  border-bottom: 1px solid #cecece;
}

.nav-container {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  
    width: 100%;
    max-width: 1240px;
    height: 50px;
    padding: 29px 0;
    margin-right: auto; /*!! там 30 вийшло, у мене 85*/
    margin-left: auto;
  
}

.nav-menu-left {
  
}

.nav-menu-right {
  /* display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; */ /*! якщо включаю, все пливе*/
}

.nav-menu-right-strip {
  display: block;
  width: 30px;
  height: 30px;
  height: 3px;
  background-color: #c5181d;
  margin-bottom: 5px;
}