nav {
  border-bottom: 1px solid #cecece;
}

.nav-container {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100%;
  padding: 29px 0;
  margin-right: auto;
  margin-left: auto;
  
}

.nav-menu-left {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  width: 865px;
  padding-left: 15px;
}

.nav-menu-left-link {
  font-size: 12px;
  line-height: 26px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}

.nav-menu-left-link:hover {
  color: #c5181d;
}
.nav-menu-right {
  padding-right: 55px;
}

.nav-menu-right-strip {
  display: block;
  width: 30px;
  height: 30px;
  height: 3px;
  background-color: #c5181d;
  margin-bottom: 5px;
}