.sidebar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: auto;
  width: 300px;
  margin: 0;
  padding: 60px 0px 0px 20px;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(143, 173, 84);
}