@font-face {
    font-family: Montserrat;
    src: url(./Fonts/) format(.woff2);
}

html {
    font-family: Montserrat sans-serif; /*!! is it right?*/
    padding: 0;
    margin: 0;
}

:root {
    --color-icons: #c5181d;
}

ul {
    list-style: none;
    color: black;

}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

* {
    word-wrap: break-word;
}

body {
    display: block;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: black;
    background: white;
    height: 100%;
    border-bottom: 1px solid #cecece;
    font-family: Montserrat sans-serif;
    line-height: 24px;
    font-weight: 500;

    width: 100%;
    margin: 0px 30px 0px 30px;


}

.container_main_sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: stretch;
    justify-content: center;
    padding: 17px 0px 22px 0px;
}

/* !!!!!!CHECK---------------------------------- */
/* TODO */
/* ??? */



.bordered {
    border-left: 2px;
}