body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    color: black;
    background: white;
    height: 100%;
    border-bottom: 1px solid #cecece;

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px 30px 0px 30px;
}

:root {
    --color-icons: #c5181d;
}

ul {
    list-style: none;
    color: black;
    
}

a {
    color: black;
    text-decoration: none;
}

* {
    word-wrap: break-word;
}

.container_main_sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    align-items: stretch;
    justify-content: center;
}

/* !!!!!!CHECK---------------------------------- */
/* TODO */
/* ??? */



.bordered {
    border-left: 2px;
}