/* !!!!!!CHECK---------------------------------- */
/* TODO */
/* ??? */

@font-face {
  font-family: "Montserrat";
  src: url(./Fonts/montserrat-v26-latin/montserrat-v26-latin-500.woff2) format("woff2");
}

body {
  font-family: "Montserrat" sans-serif;
  padding: 0;
  margin: 0;

  display: block;
  /* flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */

  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: black;
  background: white;
  height: 100%;
  border-bottom: 1px solid #cecece;

  /* width: 100%; */
  /* margin: 0px 30px 0px 30px; */
}

:root {
  --color-icons: #c5181d;
}

ul {
  list-style: none;
  color: black;
  margin: 0;
}



* {
  word-wrap: break-word;
  box-sizing: inherit;
}

.container_main_sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: stretch;
  justify-content: center;
  padding: 17px 0px 22px 0px;
}

.bordered {
  border-left: 2px;
}