/*Main*/
.title {
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 35px;
  color: #111111;
  margin-bottom: 0px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  padding: 16px;

  .title::after {
    content: '';
    border-bottom: 6px solid rgba(197, 24, 29, 0.6);
    width: 93%;
    position: absolute;
    left: 15px;
    bottom: 20px;
  }

  .title--red-none {
    text-align: center;
    width: 100%;
    margin: 40px auto;
      
    .title--red-none::after {
      display: none;
    }
  }
  
  .title--underline {
    border-bottom: 3px solid black;
    width: 100%;
    margin: 0 auto;
  }
}

.recipe__icon-title {
  color: rgb(144, 144, 144);
  font-size: 12px;
  font-weight: 300;
  word-wrap: break-word;
  padding-left: 10px;
}

/* Block3 */

.buy-now__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  overflow-wrap: break-word;
  padding-top: 15px;
}

.buy-now__price {
  color: #C5181D;
  font-size: 16px;
  font-weight: 600;
}

/* Sidebar */
.book__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 10px 0;
  margin: 0px;
  letter-spacing: 1.2px;
}

.sidebar__titles {
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  padding: 20px 30px;
  margin: 30px 0;
  letter-spacing: 1.2px;
  overflow: visible;
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  background-color: white;
}

.recommendations__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.sidebar-button-link {
  display: block;
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.2px;
  padding: 15px 0;
}

/*Footer */

.footer__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0;
}

.footer-button-link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: white;
}

.copyright__link {
  text-decoration: underline;
  padding: 10px 0;
}

.copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin: 0;
}