.bonus {
  cursor: pointer;

  &__container {
    display: none;
    position: absolute;
    background-color: $bonusContainerBackgroundColor;
    width: 1400px;
    height: 95px;
    top: 140%;
    left: -59%;
    transform: translateX(-50%);
    animation: fadeInDown $animationDuration ease-out;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: $bonusTitleColor;
    text-transform: uppercase;
  }
}

.bonus-menu-item {
  &:hover {
    .bonus__container {
      display: inline-block;
    }
  }
}

// @keyframes for fadeInDown animation
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}